# Add the fast-path binary in /usr/bin/fast-path/ directory.
# Add this service file to /etc/systemd/system/ directory.
[Unit]
Description=Fast Path Service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/bin/fast-path/fast-path

[Install]
WantedBy=multi-user.target